<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs')%>

    <title><%= title%></title>
  </head>
  <body>
    <nav><%- include('../partials/nav.ejs')%></nav>
    <h1>hello from about | Welcome</h1>
    <%- include('../partials/script.ejs')%>
  </body>
</html>
