<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs')%>
    <title><%= title %></title>
  </head>
  <body>
    <nav>
      <%- include('../partials/nav.ejs')%>
      <a href="download">Download file</a>
    </nav>
    <h1>Welcome to home page</h1>
    <%- include('../partials/script.ejs')%>
  </body>
</html>
